<div class="col-10 col-offset-1">

    <div class="col-9 main-content">
        <div class="add-person-block">
        </div>
        <div class="user-table">
        </div>
        <div class="filter-block">
        </div>
    </div>
    <div class="col-3 side-content">
    </div>

</div>