<td>{{name}}</td>
{{#roles}}
    <td class="with-input"><input type="checkbox" class="role-checkbox" value="{{key}}" data-checked="{{value}}"/></td>
{{/roles}}
<td class="with-input"><span class="delete-item">X</span></td>