<div class="user-table">
    <table>
        <thead>
        <tr>
            <th class="sort" data-attr="name">Name</th>
            {{#roles}}
                <th class="sort" data-attr="{{key}}" data-index="{{index}}">{{title}}</th>
            {{/roles}}
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>